@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --darkBlue: #2A324B;
    --blue: #58699D;
    --grey: #E1E5EE;
    --white: #fff;
}
:root{
    background-color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    width: 100%;

}

#root{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
   
    background-color: var(--white);
    min-height: 400px;
    min-width: 985px;
    max-width: 1000px;
    padding: 20;
    margin: 0 auto;
   
}   