:root {
    --darkBlue: #2A324B;
    --blue: #58699D;
    --grey: #E1E5EE;
    --white: #fff;
}

#root {
    
    width: 100%;
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;

    nav{
        
        width: 100%;
         .link.active{
            background-color: var(--grey);
            color: white;
        }
        ul {
            
            justify-content: center;
            display: flex;
            gap: 1rem;
            padding: 0;  

            li {
                list-style: none;

                .link{
                    background-color: var(--darkBlue);
                    color: var(--grey);
                    font-weight: bold;
                    padding: 1rem 3.2rem;
                    width: 100%;

                    &.active {
                        background-color: var(--white);
                        color: var(--darkBlue);
                    }
                
                }
            }
        }
    }
}